<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sample Suite">
    <test name="Wallet Test Suite">
        <classes>
            <class name="tests.SampleTest">
                <methods>
                    <include name="walletCreationSkipBackupTest"/>
                    <include name="walletCreationInAppTest"/>
                    <include name="walletCreationExistingBitcoinTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
